services:
  postgres:
    image: postgres:latest
    pull_policy: never
    container_name: postgres
    volumes:
      - /var/lib/postgresql
      - ./configs/postgres:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: root
    networks:
      - docker-net
    restart: unless-stopped
    expose:
      - 5432
  
  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:latest
    container_name: postgres-exporter
    expose:
      - 9187
    restart: unless-stopped
    networks:
      - docker-net
    environment:
      - DATA_SOURCE_URI=postgres.docker-net:5432/database?sslmode=disable
      - DATA_SOURCE_USER=root
      - DATA_SOURCE_PASS=postgres

  mlflow:
    image: custom-mlflow
    pull_policy: never
    container_name: mlflow
    build:
      context: ./configs/mlflow
      dockerfile: Dockerfile
    expose:
      - 5000
    volumes:
      - /mlflow
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.mlflow-http.rule=Host(`mlflow.localhost`)
      - traefik.http.routers.mlflow-http.entrypoints=web
  
  api:
    image: api
    pull_policy: never
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 80
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.api-http.rule=Host(`api.localhost`)
      - traefik.http.routers.api-http.entrypoints=web
  
  traefik:
    image: traefik:v3.6
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./configs/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-http.rule=Host(`traefik.localhost`)
      - traefik.http.routers.traefik-http.entrypoints=web
  
  node-exporter:
    privileged: true
    image: prom/node-exporter:master
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - docker-net
    expose:
      - 9100
  
  prometheus:
    image: prom/prometheus:main
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./configs/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    expose:
      - 9090
    networks:
      - docker-net
    labels:
      - traefik.enable=true
      - traefik.http.routers.prometheus-http.rule=Host(`prometheus.localhost`)
      - traefik.http.routers.prometheus-http.entrypoints=web
  
  grafana:
    image: grafana/grafana:main
    container_name: grafana
    restart: unless-stopped
    environment:
      - TERM=linux
      - GF_PLUGINS_PREINSTALL=grafana-clock-panel,grafana-polystat-panel
      - DS_PROMETHEUS=ds_prometheus
    expose:
      - 3000
    networks:
      - docker-net
    volumes:
      - grafana_storage:/var/lib/grafana
      - ./configs/grafana/dashboards:/etc/grafana/provisioning/dashboards/
      - ./configs/grafana/datasources:/etc/grafana/provisioning/datasources/
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana-http.rule=Host(`grafana.localhost`)
      - traefik.http.routers.grafana-http.entrypoints=web

networks:
  docker-net:
    external: true

volumes:
  prometheus_data: {}
  grafana_storage: {}
