services:
  my-postgres:
    image: postgres:latest
    pull_policy: never
    container_name: my-postgres
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql
      - ./configs/postgres:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: root
    networks:
      - docker-net
    restart: unless-stopped

  my-mlflow:
    image: custom-mlflow
    pull_policy: never
    container_name: my-mlflow
    build:
      context: ./infra/mlflow
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    volumes:
      - /mlflow
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.mlflow-http.rule=Host(`mlflow.localhost`)
      - traefik.http.routers.mlflow-http.entrypoints=web
  
  my-api:
    image: api
    pull_policy: never
    container_name: my-api
    build:
      context: .
      dockerfile: Dockerfile
    # ports:
      # - 8000:80
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.api-http.rule=Host(`api.localhost`)
      - traefik.http.routers.api-http.entrypoints=web
  
  traefik:
    image: traefik:v3.6
    container_name: my-traefik
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./infra/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`dashboard.localhost`)
      - traefik.http.routers.dashboard.entrypoints=web

networks:
  docker-net:
    external: true
