services:
  opinionlens:
    image: opinionlens
    container_name: opinionlens
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 80
    networks:
      - docker-net
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.opinionlens-http.rule=Host(`opinionlens.abdelazizwf.dev`)
      - traefik.http.routers.opinionlens-http.entrypoints=websecure
      - traefik.http.routers.opinionlens-http.tls.certresolver=myresolver
      - traefik.http.middlewares.opinionlens-ratelimit.ratelimit.average=5
      - traefik.http.middlewares.opinionlens-ratelimit.ratelimit.period=1s
      - traefik.http.middlewares.opinionlens-ratelimit.ratelimit.burst=10
      - traefik.http.routers.opinionlens-http.middlewares=opinionlens-ratelimit@docker

networks:
  docker-net:
    external: true
