global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO

entryPoints:
  web:
    address: :80
  websecure:
    address: :443
  metrics:
    address: :8080

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false

metrics:
  prometheus:
    entryPoint: metrics
